.homeContainer {
  width: 100%;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__content {
  display: flex;
  padding: 0 2%;
}

.card {
  margin: 15px;
}

.monthSelector {
  margin-bottom: 15px;
}

.budget {
  margin: 15px;
}

.summaryDetails {
  position: relative;
}

.budget__addCategoryButton {
  margin-top: 25px;
}